




.game{
	text-align: center;
}
.game:after{
	content: "";
	display: block;
	clear: both;
	width: 100%;
}




.card{
	display: inline-block;
	background-color: white;
	width: 2em;
	height: 3em;
	line-height: 3em;
	text-align: center;
	box-sizing: border-box;
	border-radius: 0.25em;
	border: 1px solid #bbb;
	margin: 0.1em;
}


.n{
	margin-top: 2em;
	text-align: center;
}


.deck{
	margin-top: 2em;
	font-size: 0.7em;
	text-align: center;
}

.deck:before{
	content: "deck";
	display: block;
	clear: both;
}

.deck:after{
	content: "";
	display: block;
	clear: both;
}
.deck .card{
	/* margin: 0 -1.9em 0 0; */
}




.community{
	text-align: center;
	margin-top: 2em;
}
.community:before{
	content: "community cards:";
	display: block;
}

.community > .stack > .card{
	float: none;
	display: inline-block;
}


.community > .stack{
	width: 100%;
	font-size: 2em;
	min-height: 3.5em;
}

.community > .stack:after{
	content: "";
	display: block;
	clear: both;
}




.menu{
	width: 100%;
	text-align: center;
	margin-top: 2em;
	font-size: 1em;
}

.menu > *{
	
	font-size: 1em;
	border: none;
	background: transparent;
	color: #777;
	box-sizing: border-box;
	margin: 0 0.25em;
	
}

.menu > button{
	cursor: pointer;
	background: #eee;
	color: gray;
	/* border-radius: 0.25em; */
	


}

.menu > button:hover{
	background: #aaa;
	color: white;
}

.menu > button:disabled{
	display: none;
}

.menu .checkbox{
	border: 1px solid black;
	margin: 0 0 .5em 0;
	border-radius: 0;
	width: 1em;
	height: 1em;
	overflow: hidden;
	line-height: 1em;
	position: relative;
}

.menu .checkbox:before{
	content: "";
	display: block;
	font-size: inherit;
/* 	background: red; */
	color: black;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
}

.menu .checkbox[checked="true"]:before{
	content: "✓";
}





.players{
	text-align: center;
	margin-top: 2em;
	min-height: 20em;
/* 	background: orange; */
}

.players:before{
	content: "players";
	display: block;

}

.player{
	display: inline-block;
	box-sizing: border-box;
	/* width: 14.666%; */
	padding: 0.5em;
	font-size: 1.5em;
	text-align: center;
	min-width: 200px;


}

.player:after{
	display: block;
	padding: 0.5em;
}

.player.rank-1:after{	content: "1st"; border-bottom: 1px solid black;}
.player.rank-2:after{	content: "2nd"; }
.player.rank-3:after{	content: "3rd"; }
.player.rank-4:after{	content: "4th"; }
.player.rank-5:after{	content: "5th"; }
.player.rank-6:after{	content: "6th"; }
.player.rank-7:after{	content: "7th"; }
.player.rank-8:after{	content: "8th"; }
.player.rank-9:after{	content: "9th"; }

.player > .stack{
	clear: both;
}

.player > .meta{
	clear: both;
	padding-top: 0.5em;
	font-size: 0.5em;
}

.player > .meta > .stack:after{
	content: "";
	display: block;
	clear: both;
}








